@font-face {
    font-family: 'parisianregular';
    src: url('./font/parisnn-webfont.eot');
    src: url('./font/parisnn-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/parisnn-webfont.woff2') format('woff2'),
         url('./font/parisnn-webfont.woff') format('woff'),
         url('./font/parisnn-webfont.ttf') format('truetype'),
         url('./font/parisnn-webfont.svg#parisianregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800&display=swap');

body{
    font-family: 'Montserrat';
}

*{
    scroll-behavior: smooth;
}

.btn-flat:hover{
    background-color: rgba(0, 0, 0, .1);
}

#menu{
    position: fixed;
    bottom: 1%;
    right: 1%;
}

.fab:hover{
    border-radius: 50%;
    color: aliceblue !important;
    background-color: rgba(0, 0, 0, .1);
}
.far:hover{
    border-radius: 50%;
    color: aliceblue !important;
    background-color: rgba(0, 0, 0, .1);
}